/*
colors
yellow: #ffbe00;
navy: #192837;
 */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* image styles */

.bg-image {
    background-image: url('images/the-sleep-co3.jpg');
    background-size: cover;
    min-height: 10rem;
}

/* Universal styles & utility classes */

body {
    font-family: 'Catamaran', sans-serif;
    color: #192837;
}

.padded     { padding: 5%; }
.padded-sm  { padding: 1rem; }
.padded-lg  { padding: 10% }

.bg-dark {
    background-color: #192837;
    color: white;
}
.tall-50   { min-height: 50vh;  }
.tall-60   { min-height: 60vh;  }
.tall-70   { min-height: 70vh;  }
.tall-80   { min-height: 80vh;  }
.tall-90   { min-height: 90vh;  }
.tall-100  { min-height: 100vh; }


/* typography styles */

h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

h3 {
    line-height: 1;
}

p {
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    color: #ffbe00;
}

.featured-text          { color: #ffbe00; }
.white-text             { color: white; }

.small-text             { font-size: 1.5rem; }
.medium-text            {
    font-size: 1.7rem;
    line-height: 1.1;
}
.big-text               { font-size: 4.5rem; }

.subtitle {
    font-size: 1.2rem;
    color:  rgb(120,120,125);
}

.quote-icon {
    font-size: 6rem;
    display: inline-block;
    color:  rgb(120,120,125);
    line-height: 1;
}

.font-weight-light      { font-weight: 200; }
.font-weight-normal     { font-weight: normal; }
.font-weight-extra-bold { font-weight: 800; }

.text-left      { text-align: left; }
.text-center    { text-align: center; }
.text-right     { text-align: right; }


/* header & footer styles */

header {
    background-image: url('images/the-sleep-co6.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 5.5rem;
    line-height: 1;
}

footer a {
    border: none;

}

/* background images */

.bg-bed { background-image: url(images/2.jpg); }
.bg-pug {
    background-image: url(images/4.jpg);
    background-position: 100% 20%;
}
.bg-pillow {
    background-image: url(images/3.jpg);
    background-position: 100% 51%;
}


/* icon grid */
.fas {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}
