<!------------ footer ------------>
<footer class="padded md:grid-spaceBetween bg-dark center-sm">
  <div class="md:col-4-bottom">
    <h2 class="mb"> let's <br> <span class="featured-text">connect</span> </h2>
    <p class="hide-sm center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, ad? Iusto impedit,
      et fugit laborum eum reprehenderit ut nihil voluptatibus incidunt eius voluptates illo quo libero eveniet officia
      aliquam adipisci! </p>
  </div>
  <div class="md:col-5-bottom center-sm-img font-sm">
    <p> Call:<a href="tel:#"> 04555 5555</a> </p>
    <p> Email:<a href="mailto:#"> hello@thesleep.co</a> </p>
    <p> Store: <a> 55 Main St, Chicago</a> </p>
    <p> <strong>Instagram:</strong><a href="https://www.instagram.com/thesleepco"> @thesleepco </a></p>
  </div>
</footer>